.profile-container {
  display: flex;
  gap: 4rem;
}

.profile {
  margin-top: 65px;
  font-size: 3rem;
  width: 27rem;
  height: 59rem;
  color: black;
  margin-left: 8rem;
  position: fixed;
  top: 0;
  left: 0;
}

.profile-image img {
  width: 100%;
  border-radius: 10px;
  margin-top: 2rem;
}

.git-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.title .github {
  font-size: 1.5rem;
  padding: 7px 0;
}

.title p {
  font-size: 1.5rem;
}

.profile button {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  border-radius: 6px;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 1rem;
  border: none;
}

.git-socials {
  display: flex;
  font-size: 1.5rem;
  gap: 8px;
  margin: 1rem 0;
  /* flex-direction: column; */
}

.git-socials-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-repo-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  margin-left: 37rem;
  width: 100%;
}

.repo-heading {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.repositories-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.repositories-container h2 {
  font-size: 3rem;
  text-transform: capitalize;
}

.repos {
  background-color: #f1f1e6;
  width: 40%;
  margin-left: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.repo-title {
  padding: 1rem;
}

.repo-title h3 {
  font-size: 2rem;
}

.repo-title p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.repo-rating {
  display: flex;
  gap: 3rem;
  background-color: #fff7d6;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.main-follower-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  margin-left: 37rem;
  max-width: 100%;
}

.follower {
  width: 20%;
  margin-left: 2rem;
  border-radius: 5px;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #fff7d6;
  flex-wrap: wrap;
}

.follower img {
  width: 50%;
}
.follower h3 {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem;
}

.follower button {
  width: 90%;
  background-color: var(--primary-color);
  color: white;
  height: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.followers-container {
  display: flex;
  min-width: 100%;
  row-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem; */
}
